/* 

:root{
--bg-color: rgb(224, 46, 46);
--font-f: font-size: 15px;
--bg-secondColor: #ff00f0;
}








body{
  background-color: var(--bg-color)
}
h1{
  color: white;
  font-size: var (--font-f);
}
.container{
  background-color: var(--bg-secondColor);
 --verde:var(--bg-secondColor)
 
  
} */