
input{
    outline:none;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    border-radius: 5px;
    width: 95%;
    font-size: 16px;
    
   
}

input, .nome{
    text-transform: capitalize;
    
}



.formulario{
    background: linear-gradient(red , black);
    width: 300px;
    height: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px tomato;
    margin-top: 100px;
    transition:  all 2s linear;

}
h1{
    text-align: center;
    padding: 20%;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem;
    transition: all 2s linear;
}

.button{
    background: linear-gradient(red , black);
    border: 1px solid tomato;
    color:white;
    width: 12rem;
    margin: 1rem;
    margin-left: 16%;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color:white;
    transition: all 2s linear;
}

.button:hover{
    background:linear-gradient(black ,red);
  
    
}


@media (min-width: 500px){
body{

    background-color: black;

}

    @media (max-width: 600px){

        body{
        background-color:red;
    }
        
    
}
}

.formulario:hover{
    height: 430px;
}

