:root{
  --font-size: 25px;
  --bg-color: #fac;
  --font-small: 15px;

}

.container{

  border: 2px solid black;
  width: 36%;
  text-decoration: underline;
  background-color: coral;
  

 
}


@media (max-width: 450px){

  :root{
    --font-size:15px;
  }

}
